@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="profileController as wm" ng-cloak>
<head>
    <meta charset="utf-8">
    <title>Документ HTML5</title>
    @Styles.Render("~/Content/css")
</head>
<body >
    <div>
        <div ui-view>

        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularMainApp")
</body>
</html>
